nltk==3.8.1
flatbuffers==24.3.25
lxml==4.9.4
arrow==1.3.0
pydantic==2.5.3
async-lru==2.0.4
platformdirs==4.1.0
kaggle==1.7.4.2
fastjsonschema==2.19.1
datasets==4.8.4
threadpoolctl==3.6.0
uri-template==1.3.0
requests==2.33.1
kiwisolver==1.4.5
rfc3339-validator==0.1.4
appnope==0.1.3
pexpect==4.9.0
absl-py==2.1.0
text-unidecode==1.3
ipykernel==6.29.0
fqdn==1.5.1
decorator==5.1.1
pypdf==4.3.1
tzdata==2024.1
multidict==6.7.1
nest-asyncio==1.6.0
termcolor==2.4.0
ptyprocess==0.7.0
outcome==1.3.0.post0
isoduration==20.11.0
trio-websocket==0.12.2
PyYAML==6.0.1
tinycss2==1.2.1
Pygments==2.17.2
overrides==7.7.0
webencodings==0.5.1
pi==0.1.2
colorama==0.4.6
duckdb==1.1.3
python-dateutil==2.8.2
unicode==2.9
setuptools==69.2.0
jupyterlab_server==2.25.2
astunparse==1.6.3
trio==0.30.0
nflscraPy==0.1.3
python-json-logger==2.0.7
nbformat==5.9.2
pillow==10.3.0
huggingface-hub==0.30.2
defusedxml==0.7.1
jsonpointer==2.4
nfl_data_py==0.3.3
referencing==0.33.0
grpcio==1.62.1
aiohttp==3.13.5
google-pasta==0.2.0
propcache==0.4.1
regex==2023.12.25
prometheus-client==0.19.0
pip==24.0
cloudscraper==1.2.71
jupyterlab==4.0.12
jsonschema-specifications==2023.12.1
markdown-it-py==3.0.0
parso==0.8.3
pyperclip==1.8.2
six==1.16.0
h11==0.14.0
jupyter_core==5.7.1
transformers==4.51.2
fsspec==2025.3.2
networkx==3.4.2
yarl==1.23.0
attrs==23.2.0
graphviz==0.20.3
Jinja2==3.1.3
Unidecode==1.4.0
pytz==2024.1
annotated-types==0.6.0
httpcore==1.0.2
PySocks==1.7.1
nbclient==0.9.0
namex==0.0.7
rich==13.7.1
webcolors==1.13
Markdown==3.6
plotly==6.1.2
scikit-learn==1.6.1
pandocfilters==1.5.1
optree==0.11.0
ml-dtypes==0.3.2
numpy==1.26.4
mistune==3.0.2
sentry-sdk==2.57.0
narwhals==1.41.0
typing_extensions==4.13.2
Babel==2.14.0
python-slugify==8.0.4
tokenizers==0.21.1
appdirs==1.4.4
anthropic==0.49.0
undetected-chromedriver==3.5.5
pyparsing==3.1.2
httpx==0.26.0
comm==0.2.1
contourpy==1.2.1
stack-data==0.6.3
argon2-cffi==23.1.0
asttokens==2.4.1
python-dotenv==1.1.0
jupyter_server==2.12.5
protobuf==4.25.3
pycparser==2.21
Werkzeug==3.0.2
MarkupSafe==2.1.4
json5==0.9.14
jedi==0.19.1
pure-eval==0.2.2
gast==0.5.4
certifi==2025.4.26
soupsieve==2.5
prompt-toolkit==3.0.43
terminado==0.18.0
cffi==1.16.0
pyarrow==23.0.1
gitdb==4.0.12
smmap==5.0.3
matplotlib-inline==0.1.6
notebook_shim==0.2.3
types-python-dateutil==2.8.19.20240106
mdurl==0.1.2
mpmath==1.3.0
jupyter_client==8.6.0
jupyterlab_pygments==0.3.0
traitlets==5.14.1
sortedcontainers==2.4.0
kagglehub==0.3.13
bleach==6.1.0
fastparquet==2024.11.0
wcwidth==0.2.13
soccerdata==1.8.7
packaging==24.2
torch==2.6.0
charset-normalizer==3.3.2
rpds-py==0.17.1
joblib==1.3.2
pyzmq==25.1.2
frozenlist==1.8.0
jupyter_server_terminals==0.5.2
html5lib==1.1
cramjam==2.11.0
tensorboard==2.16.2
psutil==5.9.8
aiosignal==1.4.0
tensorflow==2.16.1
libclang==18.1.1
urllib3==2.4.0
cycler==0.12.1
filelock==3.18.0
torchvision==0.21.0
xgboost==3.0.2
wheel==0.43.0
pydantic_core==2.14.6
ipython==8.20.0
h5py==3.10.0
distro==1.9.0
GitPython==3.1.46
opt-einsum==3.3.0
rfc3986-validator==0.1.1
aiohappyeyeballs==2.6.1
websockets==15.0.1
requests-toolbelt==1.0.0
pandas==1.5.3
sympy==1.13.1
argon2-cffi-bindings==21.2.0
Send2Trash==1.8.2
bs4==0.0.2
sniffio==1.3.0
tqdm==4.67.3
jupyter-events==0.9.0
safetensors==0.5.3
openai==1.7.2
tensorboard-data-server==0.7.2
selenium==4.33.0
fonttools==4.50.0
scipy==1.15.3
anyio==4.2.0
jupyter-lsp==2.2.2
debugpy==1.8.0
nbconvert==7.14.2
catboost==1.2.8
keras==3.1.1
multiprocess==0.70.19
beautifulsoup4==4.12.3
wsproto==1.2.0
idna==3.6
jsonschema==4.21.1
matplotlib==3.8.3
executing==2.0.1
jiter==0.9.0
xxhash==3.6.0
dill==0.4.1
wandb==0.25.1
click==8.1.7
wget==3.2
tornado==6.4
wrapt==1.16.0
websocket-client==1.8.0
